@charset "UTF-8";
/* ------------------------
    【共通】レイアウト
------------------------- */
.container{
  position:relative;
  width:1000px;
  margin:0 auto;
}
.--center{
  display:flex;
  justify-content:center;
}
.--spacebetween{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.--position{
  position:relative;
}
.wrapper--padding{
  padding:100px 0;
}
/* ------------------------
    【共通】スタイル
------------------------- */
body{
  color:#404040;
  font-size:14px;
  font-family:'Noto Sans JP', sans-serif;
  letter-spacing:0.03em;
}
.wrapper--color{
  background:linear-gradient(137deg, rgb(176, 221, 233), rgb(69, 170, 195) 86%);
}
.wrapper_ttl{
  margin-bottom:80px;
  font-size:40px;
  text-align:center;
  letter-spacing:0.1em;
}
.wrapper_ttl--white{
  color:#fff;
  font-weight:bold;
}
.--dropshadow{
  box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.23);
}
/* ------------------------
    【共通】アニメーション
------------------------- */
.--fade_in{
  opacity:0;
  transition:all 600ms 0s ease;
}
.--fade_up {
  opacity:0;
  /* アニメーションのスタート地点を指定　*/
	transform: translate(0, 50px);
  transition:all 600ms 0s ease;
}
.--fade_down {
  opacity:0;
  /* アニメーションのスタート地点を指定　*/
	transform: translate(0, -50px);
  transition:all 600ms 0s ease;
}
.--fade_left{
  opacity:0;
  /* アニメーションのスタート地点を指定　*/
	transform: translate(-50px, 0);
  transition:all 600ms 0s ease; 
}
.--fade_right{
  opacity:0;
  /* アニメーションのスタート地点を指定　*/
	transform: translate(50px, 0); 
  transition:all 600ms 0s ease;
}
.--scroll_in {
  opacity:1;
  /* アニメーションのゴール地点を指定　*/
  transform: translate(0, 0); 
}
/* ------------------------
    ヘッター header
------------------------- */
header{
  padding:50px 0 35px;
}
/*  ヘッダーの右側  */
#header_right{
  padding-top:7px;
}
nav{
  margin-right:10px;
}
.nav__li{
  line-height:33px;
  padding:0 10px;
  margin-top:7px;
  margin-right:12px;
  font-size:12px;
  letter-spacing:0.08em;
}
.nav__li a{
  display:inline-block;
}
/* ------------------------
    フッター footer
------------------------- */
footer{
  background:linear-gradient(137deg, rgba(78, 186, 232, 1), rgba(151, 211, 227, 1) 86%);
  color:#fff;
}
footer.wrapper--padding{
  padding-bottom:50px;
}
/* フッター 左側 */
#footer__left{
  width:70%;
  margin-bottom:50px;
}
#footer__nav,
#footer__sub_nav,
#footer__sub_nav__li a,
#footer__right a,
.footer__button{
  display:block;
}
#footer__logo{
  width:640px;
  padding-bottom:25px;
  border-bottom:2px solid #fff;
  margin-bottom:10px;
}
.footer__nav__li{
  padding:12px 12px 12px 0;
}
.footer__sub_nav__li{
  padding:14px 20px;
}
.footer__nav__li,
.footer__sub_nav__li{
  display:inline-block;
  margin-right:18px;
  font-size:18px;
  letter-spacing:0.07em;
}
.footer__sub_nav__li{
  background-color:#64adc1;
  border-radius:10px;
  margin-right:5px;
  opacity:0;
  transform:translate(0, -7px);
  transition:all 600ms 0s ease;
}
#footer__nav:hover .footer__sub_nav__li{
  opacity:1;
  transform:translate(0, 0);
}
.footer__nav__li:last-child{
  margin-right:0;
}
/* フッター 右側 */
#footer__right{
  padding-left:50px;
  width:30%;
}
#footer__right img{
  margin-bottom:30px;
}
.footer__button{
  width:246px;
  height:65px;
  background-color:#64adc1;
  background-size:100%;
  background-position:center right;
  border-radius:10px;
  margin-bottom:20px;
  font-size:28px;
  text-align:center;
  line-height:65px;
  transition:all 200ms 0s ease;
  user-select: none;
}
.footer__button:hover{
  transform:translate(0,-7px);
}
/* コピーライㇳ */
#footer__copyright{
  width:100%;
  color:#fff;
  text-align:center;
}
